.search-wrapper {
  border-radius: 10px;
  align-items: center;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  width: 85%;
  height: 70px;
  max-width: 700px;
  margin: 20px auto 0 auto;
  padding: 10px;
}

.dd-wrapper {
  border-radius: 10px;
  background-color: #eff4ff;
  width: 20%;
  position: relative;
  height: 90%;
  margin-right: 10px;
  border: none;
  box-sizing: border-box;
}

.dd-header {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  height: 100%;
}

.dd-header-title {
  margin-right: 5px;
}

.dd-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
  margin-top: 15px;
}

.dd-list-item {
  background-color: #eff4ff;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid gray;
  margin-top: 5px;
}

.search-input-group {
  border-radius: 10px;
  background-color: #eff4ff;
  width: 80%;
  position: relative;
  display: flex;
  height: 90%;
  padding: 5px;
}

.search-icon {
  width: 25px;
  margin-left: 5px;
}

.search-input {
  background-color: transparent;
  outline: none;
  width: 100%;
  border: none;
  margin-left: 10px;
}

.search-suggestions {
  box-sizing: border-box;
  border-radius: 10px;
  width: 85%;
  height: auto;
  max-width: 700px;
  max-height: 200px;
  overflow-y: auto;
  margin: 10px auto 0 auto;
  background-color: #fff;
  padding: 0 20px;
}

.search-item {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
  padding: 5px;
}

.search-item:hover {
  background-color: #eff4ff;
}

/* Scrollbar design overflow suggestions*/
/* width */
.search-suggestions::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
.search-suggestions::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

/* Handle on hover */
.search-suggestions::-webkit-scrollbar-thumb:hover {
  background: #555;
}
